<ion-view id="guidePage" view-title="引导页" cache-view="false">
  <div id="guideSlide" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item-logo calm-bg" >
          <a href="#">
            美啊衣橱
          </a>

          <div class="animate guide-show">
            <h2 class="animated bounceInDown">美丽专享</h2>
            <li class="animated bounceInLeft">经济，实惠，折上折</li>
            <li class="animated bounceInRight">你的魅力，我来负责</li>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #02C1ED;">
          <a href="#">
             美啊衣橱
          </a>

          <div id="tips-2" class="animate hidden">
            <h2 class="animated bounceInDown">你的衣橱</h2>
            <li class="animated bounceInLeft">爱美的你，更美的你</li>
            <li class="animated bounceInRight">真便宜</li>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #67C962;">
          <a href="#">
             美啊衣橱
          </a>

          <div id="tips-3" class="animate hidden">
            <h2 class="animated bounceInDown">一件也包邮</h2>
            <li class="animated bounceInLeft">100%质量保证</li>
            <li class="animated bounceInRight">快来加入我们，体验吧</li>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #FCD208;">
          <a href="#">
             美啊衣橱
          </a>

          <div class="animate guide-show">
       
            <button id='close' class="mui-btn mui-btn-warning mui-btn-outlined calm-bg" ng-click="func_goHome()">立即体验</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</ion-view>






<!-- <ion-view view-title="{{chat.name}}" cache-view="false">
  <ion-slide-box style="height: 100%" does-continue ="true" auto-play="false" slide-interval="2000">
<ion-slide class="royal-bg">1
<button class="blanced-bg" ng-click="openModal()"> 打开模态窗</button></ion-slide>

<ion-slide class="calm-bg">2
<button class="clam-bg" ng-click="show()">333333</button>

<button class="clam-bg" ng-click="showAlert()">333333</button></ion-slide>

<ion-slide class="energized-bg">3</ion-slide>
<ion-slide class="positive-bg">4</ion-slide>
</ion-slide-box>
<script id="modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">我的模型标题</h1>
    </ion-header-bar>
    <ion-content>
       <button class="positive-bg" ng-click="closeModal()"> 关闭模态窗</button>
    </ion-content>
  </div>
</script>
</ion-view>
 -->
<!-- <ion-view view-title="{{chat.name}}" cache-view="false">
 <div class="bar bar-header royal-bg">
   <button class="button button-calm">
     <i class="icon ion-happy"></i>
     按钮1
   </button>

   <h1 class="title">头</h1>
   <button class="button button-energized">按钮2</button>
 </div>
  <div class="bar bar-subheader assertive-bg">
    <div class="button-bar">
      <button class="button button-energized">按钮1</button>
      <button class="button button-balanced">按钮2</button>
      <button class="button button-dark">按钮3</button>
      <button class="button button-energized">按钮4</button>
    </div>
  </div>
  <div class="scroll-content calm-bg has-header has-subheader has-footer has-subfooter">

    <div class="assertive-bg">121223</div>
    <div class="royal-bg padding">121223</div>
  </div>
  <div class="bar bar-subfooter assertive-bg">bar  bar-subfooter</div>
  <div class="bar bar-footer royal-bg">footer </div>
</ion-view>
 -->
